<div id="main-wrapper">
  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a rel="nofollow"
                                                                                       href="http://browsehappy.com">upgrade
    your browser</a> or <a rel="nofollow" href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome
    Frame</a> to improve your experience.</p>
  <![endif]-->

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 affix text-center" style="z-index: 1;">
    <h1 class="templatemo-site-title fixed-top mt-2 mb-5">
      <a href="#">Dot ADM</a>
    </h1>

    <ul id="responsive" style="display:none" class="hidden-lg hidden-md"></ul><!-- /.responsive -->
  </div>


  <div class="image-section">
    <div class="image-container">
      <img src="/assets/imagens/nature1.jpg" id="home-img" class="main-img inactive" alt="Home">
      <img src="/assets/imagens/nature2.jpg" id="about-img" class="inactive" alt="About">
      <img src="/assets/imagens/nature3.jpg" id="services-img" class="inactive" alt="Services">
      <img src="/assets/imagens/nature4.jpg" id="testimonial-img" class="inactive" alt="Testimonial">
      <img src="/assets/imagens/nature5.jpg" id="contact-img" class="inactive" alt="Contact">
    </div>
  </div>

  <div class="row mt-5 fixed-top justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
      <div class="templatemo-content">
        <section id="home-text" class="active templatemo-content-section">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Bem vindo a Dot ADM</h2>
          </div>
        </section><!-- /.home-text -->

        <section id="about-text" class="w-100">
          <h2 class="text-center">Sobre a Empresa</h2>
          <div class="col-sm-12 col-md-12">
            Para realização deste projeto, temos o cenário a seguir. A empresa denominada Dot ADM é voltada para
            atividades administrativas em escritório, porém está passando por uma reestruturação interna sustentável. A
            troca de papéis comuns por reciclados, lixeiras seletivas, coleta seletiva uma vez por semana dentre outras
            ações. Para incentivar seus funcionários a aderirem às novas práticas, foi implantado um chat para
            incentivar a troca de mensagens entre funcionários. Junto a esta nova plataforma, lançado uma campanha
            fantástica de jogo da velha sustentável. O jogo é realizado uma vez por semana, o ganhador receberá uma
            palavra sorteada para receber um brinde ao final do jogo. Para incentivar a prática de cultivo de árvores
            frutíferas, o brinde escolhido é uma muda de macieira.
            Vale ressaltar que temos alguns desafios para que as necessidades do cliente sejam entregues, sendo elas:
            Entrega de Dados: Garantia do envio das informações corretas ao usuário designado de acordo com a
            solicitação feita ao sistema.
            Comunicação: Se faz necessário a utilização do chat para troca de informações durante o jogo, incentivando a
            comunicação e a aderência da campanha na empresa.
            Campanha paralela: Ao final do jogo é necessário o recebimento da palavra sorteada para que o usuário
            consiga retirar o seu brinde no RH. Somente uma sequência de palavras autorizadas referentes a
            sustentabilidade serão permitidas, além de que uma palavra não poderá ir para o mesmo usuário.
          </div>
        </section><!-- /.about-text -->
      </div><!-- /.templatemo-content -->
    </div><!-- /.templatemo-content-wrapper -->
    <div class="row justify-content-center w-100 h-100 mt-3">
      <button type="button" class="btn btn-success w-25" (click)="this.handlePlay()">Play game</button>
    </div>
  </div><!-- /.row -->


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
      <p class="footer-text">
        <span>Copyright &copy; 2020 Company Name - Design: TemplateMo</span>
      </p>
    </div><!-- /.footer -->
  </div>

</div><!-- /#main-wrapper -->

<div id="preloader">
  <div id="status">&nbsp;</div>
</div><!-- /#preloader -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/templatemo_script.js"></script>
<!-- templatemo 398 nature -->
