/*

Nature Template

/* General */
#main-wrapper {
  overflow: hidden;
}

img {
  vertical-align: middle;
}

.templatemo-site-title {
  color: #fff !important;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Raleway', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.templatemo-site-title a, .templatemo-site-title a:hover {
  color: #fff;
  text-decoration: none;
}

img.slide {
  width: 100%;
  z-index: -9999999;
  position: absolute;
}

.image-section {
  position: fixed;
}

.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
}

.templatemo-content section {
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 30px;
  line-height: 1.8;
}

.templatemo-content h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.templatemo-content p {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 16px;
}

.menu {
  position: fixed;
  width: 220px;
  z-index: 1;
  top: 35px;
}

#menu-list {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 0;
}

#menu-list > li {
  display: block;
}


#menu-list > li > a {
  font-family: 'Raleway', sans-serif;
  padding: 10px 0 10px 30px;
  text-decoration: none;
  display: block;
  color: #fff;
}

#menu-list > .active > a,
#menu-list > li > a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}


#responsive {
  font-size: 16px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#responsive li {
  display: block;
}

#responsive li a {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

#responsive > .active > a,
#responsive li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#map-canvas {
  height: 256px;
  margin-bottom: 10px;
}

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 10px;
}

.footer-text {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
  margin-left: 30px;
  font-size: 14px;
}

.footer-text a, .footer-text a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .footer {
    overflow: hidden;
    position: static;
    text-align: center;

  }

  .footer-text {
    margin-left: 0;
  }
}
