<div id="main-wrapper">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 affix text-center" style="z-index: 1;">
    <h1 class="templatemo-site-title fixed">Campanha interna - Dot ADM</h1>
    <ul id="responsive" style="display:none" class="hidden-lg hidden-md"></ul><!-- /.responsive -->
  </div>

  <div class="image-section">
    <div class="image-container">
      <img src="/assets/imagens/nature1.jpg" id="contact-img" class="inactive" alt="Contact">
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-1">
      <div class="templatemo-content">
        <section id="home-text" class="active templatemo-content-section text-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Bem-vindo ao portal da campanha da Dot ADM!</h2>
          </div>
        </section><!-- /.home-text -->

        <section id="about-text" class="w-100">
          <h2 class="text-center">Campanha - Trabalho sustentável já!</h2>
          <div class="col-sm-12 col-md-12 corpo-campanha-fonte">
            Como todos sabem, estamos passando por um novo proesso de sustentabilidade na empresa. A adaptação do
            ambiente de trabalho
            por um local completamente novo e totalmente sustentável! Alteramos a forma de imprimir utilizando menos
            papel e somente o
            necessário, adquirimos novas lixeiras seletivas para alguns espaços internos como cantina e área central do
            escritório. E para incentivar esta mudança, convidamos você a participar deste super jogo divertido!
            <br/><br/>Aqui você poderá conversar com seus amigos enquanto se diverte nesta competição! Para incentivar
            um trabalho e uma consciência
            mais sustentável, a empresa lançou um jogo-da-velha onde o vencedor leva uma muda de macieira!!!
            <br/>
          </div>

          <h2 class="text-center">Esperamos que divirtam-se e bom trabalho!</h2>
          <hr/>

          <div class="col-sm-12 col-md-12 corpo-campanha-fonte text-center">
            O Jogo da Velha é um jogo de regras extremamente simples!
          </div>
          <div class="col-sm-12 col-md-12 mt-2 corpo-campanha-fonte">
            <h1 class="text-center">Objetivo do jogo</h1>
          </div>
          <div class="col-sm-12 col-md-12 corpo-campanha-fonte text-center">
            Ser o primeiro a fazer uma sequência de três símbolos iguais, seja em uma linha, coluna ou diagonal.<br/>
            <div class="col-sm-12 col-md-12 mt-2 corpo-campanha-fonte">
              <h1 class="text-center">Regras</h1>
            </div>
            Um jogador joga com a gotinha (representado o O ) e outro com os xis (representando o X).<br/>
            Cada jogador, na sua vez preenche numa lacuna que esteja vazia o símbolo escolhido pelo sistema.<br/>
            Quando finalizar o jogo e um dos jogadores for vencedor, receberá a senha para o sorteio de uma viagem para
            conhecer o processo de fabricação de papel sustentável. Entregue este número ao seu gestor e em seguida
            poderá retirar o seu brinde no RH.<br/>
            Quando há empate, nenhum dos jogadores ganhará o prêmio pois “deu velha”.
          </div>
          <div class="row justify-content-center w-100 h-100 mt-3">
            <button type="button" class="btn btn-success w-25" (click)="this.handlePlay()">Play game</button>
          </div>

        </section><!-- /.about-text -->
      </div><!-- /.templatemo-content -->
    </div><!-- /.templatemo-content-wrapper -->

  </div><!-- /.row -->


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
      <p class="footer-text">
        <span>Copyright &copy; 2020 Company Name - Design: TemplateMo</span>
      </p>
    </div><!-- /.footer -->
  </div>

</div><!-- /#main-wrapper -->

<div id="preloader">
  <div id="status">&nbsp;</div>
</div><!-- /#preloader -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/templatemo_script.js"></script>
<!-- templatemo 398 nature -->
