.espaco {
  width: 180px;
  height: 180px;
  border: 2px solid black;
  cursor: pointer;
}

.tabuleiro {
  width: 352px;
  height: 352px;
}

.teste2 {
  background-image: url('../../assets/imagens/plant-2004483_1920.jpg');
}
